header{
  text-align: center;
}

h1{
  text-align: center;
}

img{
  border-width: thick
}


div{
  display: inline-block;
  position: relative;
  margin left: auto;
  margin right: auto;
  height: 200px;
}




